html {
    background: #333;
}

.logo {
    font-family: 'Shrikhand', cursive;
    font-size: 10rem;
    color: white;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #111;
}

.logo-alt {
    font-family: 'Shrikhand', cursive;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #111;
    text-shadow: 2px 6px #007fb9;
    margin-right: 2rem;
}