.navbar {
    display: flex;
    align-items: center;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #666;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.15);

    .logo-icon {
        display: flex;
        align-items: center;
        font-size: 5rem;
        color: #007fb9;
        margin: 0rem 1rem;
    }

    .icons {
        display: flex;
        align-items: center;
        font-size: 5rem;
        text-decoration: none;
        color: #333;
    }

    .wb-user {
        font-size: 4rem;
        font-weight: bold;
        color: #007fb9;
    }
}