.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    height: 300px;
    width: 150px;
    background-color: #666;
    border-radius: 8px;
    position: absolute;

    .icons {
        margin: 2rem 0;
        font-size: 8rem;
        text-decoration: none;
        color: #333;
    }
}