.tickets {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 15px #000000;

    .tickets-title {
        font-family: 'Atomic Age', cursive;
        font-size: 8rem;
        color: #007fb9;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #111;
        text-shadow: 3px 5px rgba(255, 255, 255, 0.65);
        margin-bottom: 1rem;
    }

    .ticket {
        display: flex;
        width: 100%;
    }

    .ticket h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 0rem 1rem;
        color: rgba(245, 245, 245, 0.70);
    }

    .ticket-item {
        width: 25%;
        border: 2px solid white;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
}

.page-link {
    font-size: 2.5rem;
    margin: 2rem 2rem 0 1rem;
    border: 4px unset white;
    padding: 1rem;
    cursor: pointer;
    color: #007fb9;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.st-card {
    border: 1px solid red;
    border-radius: 8px;
    width: 400px;
    display: flex;
    flex-direction: column;

    h1 {
        color: red;
        font-size: 5rem;
    }
}