.tickets {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 15px #000000;

    .tickets-title {
        font-family: 'Atomic Age', cursive;
        font-size: 8rem;
        color: #007fb9;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #111;
        text-shadow: 3px 5px rgba(255, 255, 255, 0.65);
        margin-bottom: 1rem;
    }

    .ticket {
        display: flex;
        width: 100%;
    }

    .ticket h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 0rem 1rem;
        color: rgba(245, 245, 245, 0.70);
    }

    .ticket-item {
        width: 25%;
        border: 2px solid white;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
}

.enumerate-tickets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .page-link {
        font-size: 2.5rem;
        margin: 1rem 2rem;
        border: 4px unset white;
        padding: 1rem;
        cursor: pointer;
        color: #007fb9;
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 8px;
        width: 50px;
        border: 3px solid rgba(255, 255, 255, 0.4);
    }
}

.st-bg {
    height: 100vh;
    background: linear-gradient(135deg, rgb(11, 45, 126) 0%, rgb(11, 45, 126) 44%, rgb(21, 87, 153) 44%, rgb(21, 87, 153) 45%, rgb(30, 129, 181) 45%, rgb(30, 129, 181) 61%, rgb(40, 170, 208) 61%, rgb(40, 170, 208) 67%, rgb(49, 212, 235) 67%, rgb(49, 212, 235) 100%);

    .st-card {
        text-align: center;
        position: absolute;
        margin: 3rem;
        border: 10px solid rgba(255, 255, 255, 0.459);
        border-radius: 12px;
        min-width: 800px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 126, 185, 0.8);

        h1 {
            color: white;
            font-size: 5rem;
        }

        .top-content {
            border-bottom: 1px solid white;
            padding: 1rem;
        }

        .bottom-content {
            padding: 1rem;
        }
    }
}