.dash-button {
    margin: 1rem;
}

.users-list {
    position: absolute;
    top: 70px;
    left: 53%;
    text-shadow: 2px 2px 4px #09091a;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 15px #000000;
}

.users {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.65);
}

.users-title {
    font-family: 'Atomic Age', cursive;
    font-size: 8rem;
    color: #007fb9;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #111;
    text-shadow: 3px 5px rgba(255, 255, 255, 0.65);
    margin-bottom: 1rem;
}

.user {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 1rem;
    color: #007fb9;
    text-decoration: none;
}

.user-link {
    text-decoration: none;
    color: #007fb9;
    display: flex;

    p {
        width: 33%;
        font-size: 3rem;
    }
}
.page-number {
    display: flex;
    // justify-content: space-evenly;
    font-size: 3rem;
    padding: 0rem 2.5rem;
    color: white;

    :hover {
        cursor: pointer
    }
}