.dash-button {
    margin: 1rem;
}

.users-list {
    position: absolute;
    top: 70px;
    left: 53%;
    text-shadow: 2px 2px 4px #09091a;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 15px #000000;
}

.users {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    height: 100%;
}

.users-title {
    font-family: 'Atomic Age', cursive;
    font-size: 8rem;
    color: #007fb9;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #111;
    text-shadow: 3px 5px rgba(255, 255, 255, 0.65);
    margin-bottom: 1rem;
}

.user {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 1rem;
    color: #007fb9;
    text-decoration: none;
}

.user-link {
    text-decoration: none;
    color: #007fb9;
    display: flex;

    p {
        width: 33%;
        font-size: 3rem;
    }
}

.page-link {
    font-size: 2.5rem;
    margin: 2rem 2rem 0 1rem;
    border: 4px unset white;
    padding: 1rem;
    cursor: pointer;
    color: #007fb9;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    border: 3px solid rgba(255, 255, 255, 0.4);
}

.close-btn {
    padding: 2rem;
    text-decoration: none;
    background: #007fb9;
    border-radius: 8px;
    border: 2px solid white;
    color: #ffffff;
    min-width: 400px;
    width: 100%;
    font-family: 'Shrikhand', cursive;
    font-size: 2.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    margin-top: 1rem;
}

.su-bg {
    height: 100vh;
    background: repeating-linear-gradient(45deg, rgba(38, 38, 38, 0.04) 0px, rgba(38, 38, 38, 0.04) 104px, rgba(106, 106, 106, 0.04) 104px, rgba(106, 106, 106, 0.04) 208px), repeating-linear-gradient(45deg, rgba(41, 41, 41, 0.14) 0px, rgba(41, 41, 41, 0.14) 99px, rgba(197, 197, 197, 0.14) 99px, rgba(197, 197, 197, 0.14) 198px), linear-gradient(90deg, rgb(94, 165, 255), rgb(8, 75, 110));

    .su-card {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px solid rgba(255, 255, 255, 0.459);
        border-radius: 12px;
        min-width: 500px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 126, 185, 0.8);

        h1 {
            color: white;
            font-size: 5rem;
            margin: 1rem;
        }
    }
}